<section id='about'>
  <div class='container'>

    <article class='people'>

      <img src='https://strlac.xyz/wp-content/uploads/2022/11/nix-blanco-y-negro-wordpress-1.jpg' />
      <div class='name'>Nicolás Saganías</div>
      <div class='body'>

        <p>nicolas saganias es artista sonoro. miembro del colectivo artístico-mutante autobuzz y de
          strlac records, sello dedicado a la divulgación de nuevos horizontes sonoros. devoto del
          sonido y de la unicidad tecno-natural que ve en todo.
        </p>
        <p style='color: gray'>
          nicolas saganias is a sound artist. member of the artistic-mutant collective autobuzz and
          of strlac records, a label dedicated to the dissemination of new sound horizons. devoted
          to sound and the techno-natural uniqueness that he sees in everything.</p>
      </div>
    </article>

    <article class='people'>

      <img src='fktr.jpg' />
      <div class='name'>FAKTOR</div>
      <div class='body'>

        <p>Facundo Suasnabar a.k.a. Faktor (Ushuaia, 1988) es artista visual, compositor y
          desarrollador tecnológico. utilizando una variedad de medios, indaga en la exploración de
          las relaciones y tensiones que existen entre lo orgánico , lo inorgánico, la arqueología
          especulativa y la ciencia ficción.
        </p>
        <p style='color: gray'>Facundo Suasnabar, aKa Faktor (Ushuaia, 1988), is a visual artist,
          composer, and technological developer. Through various mediums such as sculpture,
          installation, photography, and drawing, explores the relationships and tensions that exist
          between the organic, the inorganic, speculative archaeology, and science fiction.</p>

      </div>
    </article>

    <article class='people polbac'>

      <img src='polbac.jpg' />

      <div class='name'>POLBAC</div>
      <div class='body'>

        <p>Pablo G. Bacchetta a.k.a POLBAC (Almagro, 1985) es músico electrónico, dj y desarrollador
          de código. Amante nostálgico del net art y defensor del open source.
        </p>

        <p style='color: gray'>Pablo G. Bacchetta a.k.a POLBAC (Almagro, 1985) is an electronic
          musician, dj and code developer. Nostalgic net art lover and open source advocate.</p>
      </div>
    </article>

    <article class='people juan-ramundo'>

      <img src='https://strlac.xyz/wp-content/uploads/2020/07/juancito-290.png' />

      <div class='name'>Juan Ramundo</div>
      <div class='body'>

        <p>juan ramundo es productor artistico, su trabajo muta entre proyectos de diversos
          formatos. es miembro fundador de strlac records y colaborador del colectivo autobuzz sus
          procesos se construyen entre el universo virtual y el mundo visual.</p>

        <p>Juan ramundo is an artistic producer, his work mutates between projects of different
          formats. He is a founding member of strlac records and a collaborator of the autobuzz
          collective. His processes are built between the virtual universe and the visual world.</p>
      </div>
    </article>

  </div>
</section>