<section id='about'>
  <div class='container'>
    <article class='people'>

      <img src='https://strlac.xyz/wp-content/uploads/2020/07/juancito-290.png' />

      <div class='name'>Juan Ramundo</div>
      <div class='body'>

        <p>juan ramundo es productor artistico, su trabajo muta entre proyectos de diversos
          formatos. es miembro fundador de strlac records y colaborador del colectivo autobuzz sus
          procesos se construyen entre el universo virtual y el mundo visual.</p>

        <p>Juan ramundo is an artistic producer, his work mutates between projects of different
          formats. He is a founding member of strlac records and a collaborator of the autobuzz
          collective. His processes are built between the virtual universe and the visual world.</p>
      </div>
    </article>

    <article class='people'>

      <img src='https://strlac.xyz/wp-content/uploads/2022/11/nix-blanco-y-negro-wordpress-1.jpg' />
      <div class='name'>Nicolás Saganías</div>
      <div class='body'>

        <p>nicolas saganias es artista sonoro. miembro del colectivo artístico-mutante autobuzz y de strlac records, sello dedicado a la divulgación de nuevos horizontes sonoros. devoto del sonido y de la unicidad tecno-natural que ve en todo.
</p>
nicolas saganias is a sound artist. member of the artistic-mutant collective autobuzz and of strlac records, a label dedicated to the dissemination of new sound horizons. devoted to sound and the techno-natural uniqueness that he sees in everything.</p>
      </div>
    </article>

    <article class='people'>

      <img src='https://strlac.xyz/wp-content/uploads/2020/08/Untitled-1.png' />
      <div class='name'>Facundo Suasnabar</div>
      <div class='body'>

        <p>facundo suasnabar vive y trabaja en buenos aires. es artista de nuevos medios, compositor, y desarrollador tecnológico. centra su producción en la exploración de las posibilidades del sonido y la luz, en sus diferentes dimensiones y relaciones con los espacios y contextos, intentando construir límites mutantes entre disciplinas y estructuras, utilizando la tecnología como herramienta principal.
es miembro fundador del colectivo de arte sonoro AUTOBUZZ y curador de la net label strlac records.</p>

facundo suasnabar lives and works in buenos aires. he is an intermedia artist, composer, and technological developer. his work is focused on exploring the possibilities of light and sound, its different dimensions and relationships within spaces and contexts, trying to build mutant limits between structures and disciplines, using technology as his primary tool.
Is the founder of the sound-art collective AUTOBUZZ, and curator of the net label sterlac records.</p>
      </div>
    </article></div>
</section>