<section id='merch'>
  <div class='container'>
    <article class='product'>

      <img src='/merch/remera.png' height='200' />

      <div class='name'>REMERA</div>

      <a
        target='_blank'
        class='buy'
        href='https://fkt.flashcookie.com/strlc-logo-272637/remera-unisex'
      >
        comprar
      </a>

    </article>

    <article class='product'>

      <img src='/merch/bolsa_1.png' height='200' />

      <div class='name'>BOLSA #1</div>

      <a target='_blank' class='buy' href='https://fkt.flashcookie.com/strlc-logo-272637/tote-bag'>
        comprar
      </a>
    </article>
    <article class='product'>

      <img src='/merch/bolsa_2.png' height='200' />

      <div class='name'>BOLSA #2</div>

      <a target='_blank' class='buy' href='https://fkt.flashcookie.com/strlc-247202/tote-bag'>
        comprar
      </a>
    </article>

    <article class='product'>

      <img src='/merch/buzo.png' height='200' />

      <div class='name'>CANGURO</div>

      <a
        target='_blank'
        class='buy'
        href='https://fkt.flashcookie.com/strlc-logo-272637/buzo-canguro-negro'
      >
        comprar
      </a>
    </article>

    <article class='product'>

      <img src='/merch/stickers.png' height='200' />

      <div class='name'>STICKERS #1</div>

      <a target='_blank' class='buy' href='https://fkt.flashcookie.com/strlc-logo-272637/stickers'>
        comprar
      </a>
    </article>

    <article class='product'>

      <img src='/merch/stickers2.png' height='200' />

      <div class='name'>STICKERS #2</div>

      <a target='_blank' class='buy' href='https://fkt.flashcookie.com/strlc-247202/stickers'>
        comprar
      </a>
    </article>
  </div>
</section>