<article id='space'>
  <div id='brand'><img width='200' src='home/strlc.png' /></div>
  <div id='mark'>
    colectivo tecno-biológico de músicas mutantes, arte sonoro y otras aventuras sónicas.

  </div>
  <a href='release/trifasica' class='home-release' style='padding-top:15px;padding-bottom:10px'>
    <div><img src='/releases_images/trifasica/2.jpg' width='80' />
    </div>
    <div>
      <p
        style="color:#ff8f00;adding:0; margin:0; padding-left:10px;letter-spacing:2px; font-family: 'Oswald';"
      >FEATURE RELEASE</p>
      <p
        style="padding:0; margin:0;padding-left:10px;letter-spacing:2px;   font-family: 'Oswald';"
      >[STRLC007] TRIFÁSICA</p>
      <p
        style="color:#ff8f00;padding:0; margin:0;padding-left:10px;   font-family: 'Oswald';"
      >Javier Areal Vélez</p>
    </div>
  </a>
  <style>
    #mark span{position:relative} #brand{ position: fixed; top: 20%; left: 50%;
    transform:translate(-50%,0)} #mark{ text-shadow: 0 0 5px #ff8f00; color: white; position: fixed;
    top: 70%; left: 0%; width: 100%; text-align: center; font-size: 21px; text-transform:
    uppercase;} .home-release{fon-size:13px; display:flex;position: absolute; bottom: 10px; left:
    10px; background: black; border: 1px solid #ff8f00; padding-left: 15px; padding-right: 15px; }
  </style>

</article>