<article id='space'>
  <div id='brand'><img width='200' src='home/strlc.png' /></div>
  <div id='mark'>
    colectivo tecno-biológico de músicas mutantes, arte sonoro y otras aventuras sónicas.

  </div>
  <style>
    #mark span{position:relative} #brand{ position: fixed; top: 20%; left: 50%;
    transform:translate(-50%,0)} #mark{ text-shadow: 0 0 5px #ff8f00; color: white; position: fixed;
    top: 70%; left: 0%; width: 100%; text-align: center; font-size: 21px; text-transform:
    uppercase;}
  </style>

  <a class='open-call' href='https://tally.so/r/wvex10' target='_blank'>
    <img src='/opencall_black.png' width='150' />
  </a>
</article>